---
---

@import "{{ site.theme }}";
p.top {
  padding-top: 40px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: palatino;
}
p.mid {
  text-align: center;
  font-size: 16px;
  font-family: palatino;
}
p.bot{
  text-align: center;
  padding-bottom: 40px;
  font-size: 16px;
  font-family: palatino;
}
p.view {
  text-align: center;
}
center {
  padding-top: 30px;
  font-family: palatino;
  font-size: 24px;
}
img {
  padding-left: 23px;
  padding-bottom: 140px;
  align: center;
}
