---
---

@import "{{ site.theme }}";
p.top {
  padding-top: 40px;
  font-size: 32px;
  font-weight: bold;
  font-family: palatino;
}
p.mid {
  font-size: 16px;
  font-family: palatino;
}
p.bot{
  padding-bottom: 40px;
  font-size: 16px;
  font-family: palatino;
}

